

/* Mobile Nav */

.nav{
    min-height: 5rem;
    background-color: var(--bg);
}

.nav-link{
    font-size: 2rem;
    min-height: 2rem;
    color: var(--black);
    transition: 0.5s;
}

.nav-link:hover{
    background-color: var(--primary-highlight);
    color: black;
}

.nav-link:active{
    background-color: var(--primary-accent);
}



/* MenuNav Styles */

.menu-nav{
    background-color: var(--bg);
    min-height: 8rem;
    transition: 0.5s;
    animation-duration: 0.5s;
}

.menu-nav-link{
    font-size: 2rem;
    min-height: 2rem;
    color: var(--black);
    transition: 0.5s;
}

.menu-nav-link:hover{
    background-color: #F6EDE0;
    color: black;
}

.menu-active-link{
    background-color: #D8C3A5;
    color: black;
}

/* Web Nav */

.nav-web{
    min-height: 8rem;
    background-color: var(--bg);
    border-bottom: black solid 2px;
}

.nav-logo{
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
}

.nav-link-active{
    background-color: var(--primary-accent);
    color: black;
}

.nav-link-active:hover{
    background-color: var(--primary-highlight);
}

/* Language Bar */
.lang-bar button {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    background-color: var(--bg);
    color: black;
    padding: 0 1rem;
    border-bottom: 0px black solid;
    transition: 0.5s;
    animation-duration: 0.5s;
    height: 3rem;
}

.lang-bar .active-lang{
    border-bottom: 1px black solid;
    transition: 0.5s;
}

.lang-bar button:hover {
    background-color: var(--primary-highlight);
}

.lang-bar-slash{
    height: 3rem;
}