
/* Mobile Nav */

.nav{
    min-height: 5rem;
}

.nav-link{
    font-size: 2rem;
    min-height: 2rem;
    color: var(--black);
}

.nav-link:hover{
    background-color: var(--primary-highlight);
    color: black;
}

.nav-link:active{
    background-color: var(--primary-accent);
}



/* MenuNav Styles */

.menu-nav{
    background-color: var(--bg);
    min-height: 6rem;
}

.menu-nav-link{
    font-size: 2rem;
    min-height: 2rem;
    color: var(--black);
}

.menu-nav-link:hover{
    background-color: #D8C3A5;
    color: black;
}